{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<div class="container my-3">
    <h1 class="fw-bold text-black my-4">About Us</h1>
    <p class="lh-base overflow-auto text-black">
        Welcome to our user-friendly to-do website! We've created a simple and intuitive platform to help you stay
        organized
        and productive. With our website, you can easily create, edit, and track your tasks in one convenient location.
    </p>

    <p class="lh-base mx-4 overflow-auto text-black">Key Features:</p>
    <ul class="lh-base mx-4 overflow-auto text-black">
        <li>Quickly add tasks by providing a title and description.</li>
        <li>View all your tasks in a clear table format for easy tracking.</li>
        <li>Mark tasks as complete or edit them as needed.</li>
        <li>Find specific tasks instantly by searching their titles.</li>
    </ul>

    <p class="lh-base overflow-auto text-black">
        We're dedicated to providing a seamless task management experience. Our website offers a clean and modern
        interface,
        allowing you to focus on getting things done.
    </p>
    <p class="lh-base overflow-auto text-black"> Start using our platform today and simplify your life while boosting
        productivity. Feel free to reach out to our
        support team with any questions or feedback. We're always striving to improve and provide the best possible
        experience.
    </p>
    <p class="lh-base overflow-auto text-black">Happy tasking!<br>Abhishek Gupta</p>

    </p>
</div>

{% endblock body %}